<div class="form-group">
  <label for="name">Name</label>
  <input id="name" type="text" class="form-control" ng-model="task.name">
</div>
<div class="form-group">
  <label for="color">Color</label>
  <input id="color" type="color" class="form-control" ng-model="task.color">
</div>
<div class="form-group">
  <label for="fromDate">From</label>
  <input id="fromDate" type="date" class="form-control" ng-model="task.from">
</div>
<div class="form-group">
  <label for="toDate">To</label>
  <input id="toDate" type="date" class="form-control" ng-model="task.to">
</div>
<button class="btn btn-primary" ng-click="addTask()" type="button">Add Task</button>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="task in tasks track by $index">{{task.name}}</li>
</ul>
